## Integração de dados

#### Masterlens, CASTLES

In [1]:
import pandas as pd

In [2]:
def deg_to_arcsec(coord):
    return coord*3600

In [31]:
# lens as a whole
castles = pd.read_csv('CastelInfo.csv')
castles.head()

   lens_name number_of_images        ra       dec  z_source  z_lens
0  B0218+357              2ER   2.35152  35.93720     0.960   0.680
1  B0712+472                4   7.26766  47.14720     1.340   0.410
2  B1030+074                2  10.55950   7.19042     1.540   0.600
3  B1152+200                2  11.92170  19.66170     1.019   0.439
4  B1422+231               4E  14.41060  22.93350     3.620   0.340

In [83]:
# lens objects
castles2 = pd.read_csv('CastelLensData.csv')
castles2.head()

  lens_names       ra  ra_err      dec  dec_err description
0  B0218+357  2.35152     NaN  35.9372      NaN      source
1  B0218+357  2.65852   0.003  36.0632    0.003   deflected
2  B0218+357  2.52952   0.011  35.9832    0.024      galaxy
3  B0712+472  6.47266   0.003  46.9912    0.003   deflected
4  B0712+472  6.52066   0.003  46.8552    0.006   deflected

In [38]:
def system():  # lens as a whole
    
    # importing castles data
    castles = pd.read_csv('CastelInfo.csv')
    castles = castles.drop(['z_source', 'z_lens'], axis=1)
    castles.columns=['Name', 'N Images', 'RA arcsec', 'Dec arcsec']
    castles[['RA arcsec', 'Dec arcsec']] = castles[['RA arcsec', 'Dec arcsec']].apply(deg_to_arcsec)
    
    dfs = []
    for i in range(1,51):
          
        # importing masterlens data
        ml = pd.read_csv('Scraping/results/system_{}.csv'.format(i))  # getting data from system file
        for co in ['z_lens', 'z_lens_err', 'z_source', 'z_source_err', 'z_Lens quality', 'z_Source quality']:
            if co in list(ml.columns):
                ml = ml.drop(co, axis=1)
            else:
                pass
        
        coords = pd.read_csv('Scraping/results/coordinates_{}.csv'.format(i)) # getting coords from coords file
        coords = coords[['RA [°]', 'Dec [°]']]
        
        # joining sys + coords data and converting coords to arcsec
        ml[['RA arcsec', 'Dec arcsec']] = coords[['RA [°]', 'Dec [°]']].apply(deg_to_arcsec)
   
        dfs.append(ml)
        
    all_ml = pd.concat(dfs) # joining all masterlens system dfs

    # joining castles + ml data
    #result = pd.merge(castles, all_ml, how ='outer', on=['Name', 'N Images','RA arcsec', 
     #                                                    'Dec arcsec', 'z_lens', 'z_source'])  
      
    result = pd.concat([castles, ml], axis=1)  #### conferir
    return result

In [39]:
system_df = system()
system_df.head()  #### z_Lens??????????????

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:28: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

,Name,N Images,RA arcsec,Dec arcsec,Discovery,Lens Kind,Lens Grade,"Einstein_R [""]",Einstein_R quality,z_Lens,Description,Discovery Date,Name,N Images,RA arcsec,Dec arcsec
0,B0218+357,2ER,8465.472,129373.920,SQLS,CLUST-QSO,A,8.14,SIE model,0.68,Quadruply imaged quasar lensed by a cluster o...,2003-12-01,SDSS J1004+4112,5.0,544115.314321,148363.593917
1,B0712+472,4,26163.576,169729.920,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,B1030+074,2,38014.200,25885.512,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,B1152+200,2,42918.120,70782.120,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,B1422+231,4E,51878.160,82560.600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
# junção parcial

In [40]:
c =pd.read_csv('Scraping/results/system_1.csv')
#c = c[['Name', 'N Images', 'z_lens', 'z_lens_err', 'z_source', 'z_source_err']]
c

,Discovery,Lens Kind,Lens Grade,Einstein_R quality,z_Lens quality,z_Source quality,Description,Einstein_R,Einstein_R_err,z_lens,z_lens_err,z_source,z_source_err,Stellar_v_disp,Stellar_v_disp_err,Discovery Date,Name,N Images
0,SLACS,GAL-GAL,A,SIE model,spectroscopic,spectroscopic,Luminous red galaxy lensing three background o...,1.16,0.02,0.44,0.0001,1.192,0.001,232,39,2008-08-01,SDSS J0008-0004,3