In [85]:
import sqlite3
import pandas as pd
import os

# use data after merge !!!!

In [77]:
# conectando...
conn = sqlite3.connect('GL3.db')
# definindo um cursor
cursor = conn.cursor()

In [86]:
# Creating database tables and insertind the dataa

# id, castles name, ml name, castles ra dec, ml ra dec, E(B-V),ms (mag),ml (mag),FGHz (mJy),Nim,size
# 
#ra_c,dec_c,Lens Name _c,zs,zl,RA (J2000),Dec (J2000),E(B-V),ms (mag),ml (mag),FGHz (mJy),Nim,size (),
#dt (days),sigma (km/s),id_c,Name,Discovery,Discovery Date,Lens Kind,Lens Grade,Description,N Images,
#Einstein_R,Einstein_R quality,Stellar_v_disp,Stellar_v_disp_err,Ra(deg)_ml,Dec(deg)_ml,
#Alternate Names,id_ml,isReal,Target
cursor.execute("""
CREATE TABLE systems (id INT PRIMARY KEY, Name VARCHAR(200), discovery_date DATE, Discovery VARCHAR(200),
Kind VARCHAR(200), Grade VARCHAR(200), Description VARCHAR(200), N_images_ml INT,ra_ml FLOAT,
ra_castles FLOAT, dec_castles FLOAT, Einstein_R FLOAT, Einstein_R_quality VARCHAR(200), FGHz (mJy) FLOAT,
Stellar_v_disp FLOAT, Stellar_v_disp_err FLOAT, ms_(mag) FLOAT, ml_(mag) FLOAT, N_images_castles INT,
size(arcsec) FLOAT);
""")

OperationalError: near "(": syntax error

In [78]:
# images

cursor.execute("""
CREATE TABLE images ( id INT PRIMARY KEY, filter VARCHAR(200), image_path VARCHAR(200));
""")

cursor.execute("""
CREATE TABLE image_system ( id_image INT, id_system INT, CONSTRAINT fk_image FOREIGN KEY (id_image) 
REFERENCES images(id), CONSTRAINT fk_system FOREIGN KEY (id_system) REFERENCES systems(id));
""")

In [79]:
# references

cursor.execute("""
CREATE TABLE referencs ( id_ref INT PRIMARY KEY, title VARCHAR(200), author VARCHAR(200), link VARCHAR(200), 
discovery VARCHAR(200));
""")

In [80]:
cursor.execute("""
CREATE TABLE system_reference ( id_reference INT, id_system INT, CONSTRAINT fk_reference FOREIGN KEY (id_reference) 
REFERENCES references(id), CONSTRAINT fk_system FOREIGN KEY (id_system) REFERENCES systems(id));
""")

OperationalError: near "references": syntax error

In [81]:
# External links

cursor.execute("""
CREATE TABLE ls ( id INT PRIMARY KEY, database VARCHAR(200), links VARCHAR(200));
""")

cursor.execute("""
CREATE TABLE link_system ( id_link INT, id_system INT, CONSTRAINT fk_link FOREIGN KEY (id_link) 
REFERENCES links(id), CONSTRAINT fk_system FOREIGN KEY (id_system) REFERENCES systems(id));
""")

In [82]:
# inserting data into tables 'links' and 'system_link' 

external = pd.read_csv('Scraping/ml_exlinks.csv')


links = external[['id_system', 'database', 'links']]
links.to_sql('links', conn, if_exists='replace', index = False)

system_links = external[['id_system', 'id_link']]
system_links.to_sql('system_link', conn, if_exists='replace', index = False)

In [83]:
# inserting data into tables 'references' and 'system_reference'
# Scrape castles references !!!!

refs = pd.read_csv('Scraping/ml_references.csv')


references = refs[['author', 'title', 'discovery', 'link', 'id_ref']]
references.to_sql('references', conn, if_exists='replace', index = False)

system_reference = refs[['id_system', 'id_ref']]
system_reference.to_sql('system_reference', conn, if_exists='replace', index = False)

In [ ]:
# inserting data into tables 'images' and 'system_image' 

imgs_ml = pd.read_csv('Scraping/ml_images.csv')
imgs_c = pd.read_csv('Scraping/castles_images.csv')

links = external[['id_system', 'database', 'links']]
links.to_sql('links', conn, if_exists='replace', index = False)

system_links = external[['id_system', 'id_link']]
system_links.to_sql('system_link', conn, if_exists='replace', index = False)

In [84]:
# check order of columns
cursor.execute('''  
SELECT * FROM references
          ''')

for row in cursor.fetchall():
    print (row)

OperationalError: near "references": syntax error

In [88]:
pd.read_csv('Scraping/castles.csv')

,Lens Name,zs,zl,RA (J2000),Dec (J2000),E(B-V),ms (mag),ml (mag),FGHz (mJy),Nim,"size ("")",dt (days),sigma (km/s)
0,Q0047-2808,3.60,0.48,00:49:41.89,-27:52:25.7,0.016,NaN,I=20.05,NaN,4ER,2.70,NaN,229±15
1,HE0047-1756,1.66,0.41,00:50:27.83,-17:40:8.8,0.022,I=16.53/2,I=18.97,NaN,2,1.44,NaN,NaN
2,HST01247+0352,NaN,NaN,01:24:44.4,+03:52:00,0.029,I=24.13/2,I=21.86,NaN,2,2.20,NaN,NaN
3,HST01248+0351,NaN,NaN,01:24:45.6,+03:51:06,0.029,NaN,NaN,NaN,2,0.74,NaN,NaN
4,B0128+437,3.124,NaN,01:31:13.405,+43:58:13.14,0.082,NaN,NaN,F5=48,4,0.55,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,CY2201-3201,3.9,0.32,22:01:32.8,-32:01:44.0,0.028,NaN,NaN,NaN,2,0.83,NaN,130±20
96,HDFS2232509-603243,NaN,NaN,22:32:50.9,-60:32:43.0,0.028,NaN,NaN,NaN,4?E,0.90,NaN,NaN
97,Q2237+030,1.69,0.04,22:40:30.34,+03:21:28.8,0.071,I=15.16/4,I=14.15,F5=0.336,4,1.78,NaN,215±30
98,B2319+052,NaN,0.62,23:21:40.8,+05:27:36.4,0.064,NaN,I=20.71,F5=32,2,1.36,NaN,NaN
99,PSS2322+1944,4.12,NaN,23:22:07.2,+19:44:23,0.044,I=17.92/2,I=21.91,NaN,2,1.49,NaN,NaN