## Integração de dados

#### Masterlens, CASTLES

In [1]:
import pandas as pd
from astropy.coordinates import Angle

In [2]:
# dec: -27:52:25.7 ---> -27.873806 deg
def sexdeg_to_deg(coord):
    result = Angle(coord + " degrees").degree
    return result #*3600

In [3]:
# ra: 00h49m41.89s ---> 12.424542 deg
def hour_to_deg(coord):  # string coord
    result = Angle(coord).degree
    return result #*3600

In [4]:
# ra: 00:49:41.89 ---> 00h49m41.89s
def hour(coord):
    result = coord.replace(":", 'h', 1)
    result = result.replace(":", 'm', 1)
    result += 's'
    return result

## Lens as a whole
### Merge  - Name

In [5]:
# system table ---------->  143 lenses
def system():  # lens as a whole
    
    # importing castles data  -  100 lenses
    castles = pd.read_csv('Scraping/castles.csv')
    castles.drop(['zs', 'zl', 'ms (mag)', 'ml (mag)', 'dt (days)'], axis=1, inplace=True)
    castles['RA (J2000)'] = castles['RA (J2000)'].apply(hour)
    castles['RA (J2000)'] = castles['RA (J2000)'].apply(hour_to_deg)
    castles['Dec (J2000)'] = castles['Dec (J2000)'].apply(sexdeg_to_deg)
    castles.columns=['Name', 'RA(deg)_c', 'Dec(deg)_c', 'E(B-V)_c', 'FGHz (mJy)_c', 'Nimages_c',
                     'size(arccsec)_c', 'sigma (km/s)_c']
    castles = castles.set_index('Name')
    
    
    # importing masterlens data  -  50 lenses
    dfs = []
    for i in range(1,51):
        
        # getting data from system file
        ml = pd.read_csv('Scraping/results/system_{}.csv'.format(i))

        # selecting important columns
        cols=[]
        for column in ['Name', 'Alternate Names', 'Discovery', 'Discovery Date', 'Lens Kind', 'Lens Grade',
                       'Description', 'N Images', 'Einstein_R', 'Einstein_R quality',
                       'Stellar_v_disp', 'Stellar_v_disp_err']:
            if column in list(ml.columns):
                cols.append(column)
        ml = ml[cols]

        # getting coords from coords file
        coords = pd.read_csv('Scraping/results/coordinates_{}.csv'.format(i))
        ml['Ra(deg)_ml'] = coords['RA [°]']
        ml['Dec(deg)_ml'] = coords['Dec [°]']

        dfs.append(ml)
     
    # joining all masterlens system + coords dfs
    all_ml = pd.concat(dfs, sort=False)
    all_ml = all_ml.set_index('Name')

    # joining castles + ml data
    result = pd.merge(castles, all_ml, how ='outer', on='Name')  


    return result

In [7]:
# comparing 'alternate names' with 'name'      partial merge?

for index, row in cats.iterrows():
    if type(row['Alternate Names']) == str:
        row['Alternate Names'] = row['Alternate Names'].split(', ')  # list with alternate names
        for i in row['Alternate Names']:
            if index == i:
                print('problem')

### Merge - NACluster

In [105]:
# Preparing to run NACluster
def system_cluster():  # lens as a whole
    
    # importing castles data  -  100 lenses
    castles = pd.read_csv('Scraping/castles.csv')
    castles = castles[['RA (J2000)', 'Dec (J2000)' ]]
    castles['RA (J2000)'] = castles['RA (J2000)'].apply(hour)
    castles['RA (J2000)'] = castles['RA (J2000)'].apply(hour_to_deg)
    castles['Dec (J2000)'] = castles['Dec (J2000)'].apply(sexdeg_to_deg)
    castles.columns=['ra', 'dec']  # degrees
    
    castles['idCatalog'] = 1
    #castles = castles.set_index('Name')
    
    
    # importing masterlens data  -  50 lenses
    dfs = []
    for i in range(1,51):

        # getting coords from coords file
        ml = pd.read_csv('Scraping/results/coordinates_{}.csv'.format(i))
        ml = ml[['RA [°]', 'Dec [°]']]
        ml.columns=['ra', 'dec']  # degrees
        ml['idCatalog'] = 2

        dfs.append(ml)
     
    # joining all masterlens system + coords dfs
    all_ml = pd.concat(dfs, sort=False)
    
    # concatenating both catalogs to use Nacluster
    final = pd.concat([castles,all_ml])
    final.reset_index(drop = True, inplace=True)
    final = final.sample(frac=1)  # shuffling dataframe
    
    # saving csv file
    system_na .to_csv('catalogs.csv', header=False)

    return final

In [106]:
system_na = system_cluster()

In [107]:
system_na #.loc[[37, 149], : ]

             ra        dec  idCatalog
55   186.533750  -0.100556          1
148  150.337000  55.897060          2
108   12.615500 -17.668890          2
35   150.369208  50.465806          1
80   252.681000  42.862500          1
106   11.012080   1.220180          2
68   214.402125  52.444444          1
27   135.895500  50.472000          1
149  151.143143  41.212109          2
23   123.380417  25.750889          1
134  133.693954  -1.360300          2
137  137.796988  17.775539          2
48   172.965000 -12.532500          1
136  136.033203  -0.998014          2
53   181.623542  43.538222          1
128  104.657920 -55.950000          2
44   158.392000   7.190417          1
90   308.425333 -47.395278          1
6     26.318750  -9.754722          1
132  128.963558  39.439353          2
15    72.091625  12.465392          1
105    9.271704   9.163992          2
12    53.159250 -27.948028          1
124   52.550520  -0.347750          2
145  149.840680   2.110670          2
33   148.750042  -1.501389          1
84   279.618750 -34.461556          1
24   125.412917  12.291389          1
143  148.750000  -1.501390          2
144  149.124060  51.001860          2
..          ...        ...        ...
107   12.424747 -27.874020          2
85   293.628958  50.423222          1
10    41.642125  -8.426722          1
7     29.672667 -43.417833          1
70   230.436792  52.913500          1
89   306.543458 -45.607528          1
29   138.254375  52.991342          1
113   33.199292  -5.931167          2
54   182.738167   9.907111          1
49   172.985333   4.930500          1
116   34.218930  -8.229270          2
0     12.424542 -27.873806          1
111   26.733371  -9.497915          2
58   203.094250   3.794417          1
126   63.654170   5.578970          2
65   212.831667  52.191389          1
66   213.943333  11.494833          1
14    69.562083 -12.287333          1
18   109.014917  47.147222          1
50   174.515417   3.249444          1
114   33.533626  -5.592330          2
76   247.553750  82.499722          1
41   155.295917  49.225111          1
127   69.561500 -12.287220          2
123   43.188380   0.666210          2
11    45.628750   0.100583          1
120   36.296005  -4.909300          2
110   30.543750 -11.153244          2
142  146.736170  10.114670          2
52   178.826250  19.661722          1

[150 rows x 3 columns]

In [81]:
# After running NACluster (Java)
# system table  ------------> 138 clustres
def NAC_result():
    old_file = open("clusters_catalogs.csv", 'r+')
    new_file = open("clusters.csv", 'a+')

    lastline=''
    cluster = 0
    header='id,ra,dec,cluster\n'
    new_file.write(header)
    for line in old_file:

        if 'cluster' in line:
            cluster+=1

        elif "Centroid" not in line:
            line = line.replace('(', '')
            line = line.replace(')', '')
            
            newline = ','.join(line.split(',')[0:3]) + ',{}'.format(cluster)
            new_file.write(newline)
            new_file.write('\n')
            
 #           if 'Centroid' not in lastline and 'cluster' not in lastline:  # Same cluster
  #              newline = ',' + ','.join(line.split(',')[0:3])
   #             new_file.write(newline)
    #            new_file.write('\n')
     #           print(newline)

            
      #      else:  # Different cluster
       #         newline = ','.join(line.split(',')[0:3]) + ',{}'.format(cluster)
        #        new_file.write(newline)
         #       new_file.write(',,')
                
        #lastline = line
                
    old_file.close()
    new_file.close()
    #df = pd.read_csv('clusters.csv')
    return None #df

In [97]:
NAC_result()

In [85]:
nac

      id          ra        dec  cluster
0    106   11.012080   1.220180        1
1     11   45.628750   0.100583        2
2    123   43.188380   0.666210        3
3    139  138.022120   0.483660        4
4     38  152.872875   1.723139        5
5     59  203.894958   1.301528        6
6    103    5.670492  14.519565        7
7      3   21.190000   3.851667        8
8      2   21.185000   3.866667        9
9    105    9.271704   9.163992       10
10   109   17.390540  15.009030       11
11     4   22.805854  43.970317       12
12    13   63.657208   5.578972       13
13   126   63.654170   5.578970       13
14    15   72.091625  12.465392       14
15    24  125.412917  12.291389       15
16    22  121.598750  20.108861       16
17    21  117.922750  27.275375       17
18    23  123.380417  25.750889       18
19   141  141.232487   2.323611       19
20    31  141.232792   2.323583       19
21   145  149.840680   2.110670       20
22   147  150.159480   2.692735       21
23    50  174.515417   3.249444       22
24    58  203.094250   3.794417       23
25   146  149.933610   4.171390       24
26    26  133.223250   5.254250       25
27   138  137.862500   5.847780       26
28    28  137.864583   5.847778       26
29    49  172.985333   4.930500       27
..   ...         ...        ...      ...
120  122   41.642076  -8.426707      112
121   10   41.642125  -8.426722      112
122   14   69.562083 -12.287333      113
123  127   69.561500 -12.287220      113
124  121   36.442207  -7.627366      114
125  112   32.372207  -6.719794      115
126  119   35.463249  -6.792406      116
127  113   33.199292  -5.931167      117
128  114   33.533626  -5.592330      118
129  117   34.404922  -5.224821      119
130  115   33.546703  -4.084105      120
131  120   36.296005  -4.909300      121
132   40  154.350542 -20.783444      122
133   45  166.639375 -18.356722      123
134   57  193.277917 -29.241667      124
135   61  208.930750 -22.956361      125
136   48  172.965000 -12.532500      126
137   94  328.031000 -27.530611      127
138   83  278.416417 -21.061028      128
139   87  301.029458 -13.825194      129
140   39  153.065458  -3.117222      130
141  104    7.282400  -0.930710      131
142  100    2.012310  -0.068960      132
143  124   52.550520  -0.347750      133
144  143  148.750000  -1.501390      134
145   33  148.750042  -1.501389      134
146  134  133.693954  -1.360300      135
147  136  136.033203  -0.998014      136
148   78  248.240333  -0.555861      137
149   55  186.533750  -0.100556      138

[150 rows x 4 columns]

In [109]:
nac = pd.read_csv("clusters.csv")

clusters = list(nac["cluster"])
dupes = list(set([x for x in clusters if clusters.count(x) > 1]))

for i in dupes:
    a=nac.loc[nac['cluster'] == i]
    print(a)

      id                  ra                  dec cluster
144  143              148.75             -1.50139     134
145   33  148.75004166666665  -1.5013888888888889     134
295  143              148.75             -1.50139     134
296   33  148.75004166666665  -1.5013888888888889     134
      id         ra                 dec cluster
44   140  139.85927  27.347509999999996      42
195  140  139.85927  27.347509999999996      42
     id                  ra                 dec cluster
74   35  150.36920833333332  50.465805555555555      70
225  35  150.36920833333332  50.465805555555555      70
      id                 ra                  dec cluster
122   14  69.56208333333332  -12.287333333333333     113
123  127            69.5615            -12.28722     113
273   14  69.56208333333332  -12.287333333333333     113
274  127            69.5615            -12.28722     113
     id                  ra                 dec cluster
40   62  210.39812499999996  15.223777777777778      38
191  62  210.39812499999996  15.223777777777778      38
      id                  ra                dec cluster
27   138            137.8625            5.84778      26
28    28  137.86458333333334  5.847777777777777      26
178  138            137.8625            5.84778      26
179   28  137.86458333333334  5.847777777777777      26
     id                  ra                 dec cluster
135  61  208.93074999999996  -22.95636111111111     125
286  61  208.93074999999996  -22.95636111111111     125
     id                 ra                 dec cluster
39   60  208.2764583333333  11.634638888888889      37
190  60  208.2764583333333  11.634638888888889      37
     id      ra                 dec cluster
52   99  350.53  19.739722222222223      50
203  99  350.53  19.739722222222223      50
     id                  ra                dec cluster
76   41  155.29591666666664  49.22511111111111      72
227  41  155.29591666666664  49.22511111111111      72
     id                  ra                   dec cluster
149  55  186.53374999999997  -0.10055555555555556     138
300  55  186.53374999999997  -0.10055555555555556     138
     id                  ra                 dec cluster
5    59  203.89495833333334  1.3015277777777778       6
156  59  203.89495833333334  1.3015277777777778       6
      id                  ra                dec cluster
19   141  141.23248700000002           2.323611      19
20    31  141.23279166666666  2.323583333333333      19
170  141  141.23248700000002           2.323611      19
171   31  141.23279166666666  2.323583333333333      19
     id                  ra                 dec cluster
53   91  311.83479166666666  26.733666666666668      51
204  91  311.83479166666666  26.733666666666668      51
      id          ra        dec cluster
63   133  131.794375  34.807333      61
214  133  131.794375  34.807333      61
     id          ra                dec cluster
73   29  138.254375  52.99134166666667      69
224  29  138.254375  52.99134166666667      69
     id                  ra                dec cluster
86   68  214.40212499999996  52.44444444444444      81
237  68  214.40212499999996  52.44444444444444      81
      id         ra                  dec cluster
126  119  35.463249  -6.7924055999999995     116
277  119  35.463249  -6.7924055999999995     116
     id                  ra      dec cluster
47   69  216.15870833333332  22.9335      45
198  69  216.15870833333332  22.9335      45
     id                  ra                dec cluster
62   25  127.92329166666667  52.75472222222222      60
213  25  127.92329166666667  52.75472222222222      60
     id                  ra    dec cluster
33   97  340.12641666666667  3.358      31
184  97  340.12641666666667  3.358      31
     id                  ra                 dec cluster
110  96  338.21208333333334  -60.54527777777778     103
261  96  338.21208333333334  -60.54527777777778     103
     id                  ra                dec cluster
15   24  125.41291666666666  12.29138888888889      15
166  24  125.41291666666666  12.29138888888889      15
     id                 ra                 dec cluster
90   71  235.8370833333333  53.864444444444445      85
241  71  235.8370833333333  53.864444444444445      85
    id                  ra                  dec cluster
115  9  38.137916666666655  -21.290555555555557     108
266  9  38.137916666666655  -21.290555555555557     108
      id                 ra                dec cluster
12    13  63.65720833333333  5.578972222222222      13
13   126  63.65416999999999            5.57897      13
163   13  63.65720833333333  5.578972222222222      13
164  126  63.65416999999999            5.57897      13
      id         ra         dec cluster
131  120  36.296005  -4.9092998     121
282  120  36.296005  -4.9092998     121
      id            ra          dec cluster
71   135  135.89561203  50.47204106      68
72    27      135.8955       50.472      68
222  135  135.89561203  50.47204106      68
223   27      135.8955       50.472      68
      id        ra                  dec cluster
98   101  3.595917  -30.352721999999996      93
249  101  3.595917  -30.352721999999996      93
     id         ra                  dec cluster
113  84  279.61875  -34.461555555555556     106
264  84  279.61875  -34.461555555555556     106
      id        ra       dec cluster
119  116  34.21893  -8.22927     111
270  116  34.21893  -8.22927     111
     id                 ra                  dec cluster
114  95  330.3866666666666  -32.028888888888886     107
265  95  330.3866666666666  -32.028888888888886     107
      id         ra                 dec cluster
128  114  33.533626  -5.592330400000001     118
279  114  33.533626  -5.592330400000001     118
      id         ra                 dec cluster
127  113  33.199292  -5.931166999999999     117
278  113  33.199292  -5.931166999999999     117
     id         ra                dec cluster
92   76  247.55375  82.49972222222222      87
243  76  247.55375  82.49972222222222      87
      id                  ra       dec cluster
75   144  149.12406000000001  51.00186      71
226  144  149.12406000000001  51.00186      71
     id                 ra                 dec cluster
38   66  213.9433333333333  11.494833333333332      36
189  66  213.9433333333333  11.494833333333332      36
     id                  ra                 dec cluster
41   81  253.67429166666662  13.772777777777778      39
192  81  253.67429166666662  13.772777777777778      39
      id                  ra                  dec cluster
147  136  136.03320300000001  -0.9980139000000001     136
298  136  136.03320300000001  -0.9980139000000001     136
      id                  ra     dec cluster
109  128  104.65791999999999  -55.95     102
260  128  104.65791999999999  -55.95     102
     id                 ra                  dec cluster
1    11  45.62874999999999  0.10058333333333334       2
152  11  45.62874999999999  0.10058333333333334       2
      id          ra         dec cluster
130  115  33.5467033  -4.0841055     120
281  115  33.5467033  -4.0841055     120
     id                 ra                 dec cluster
111  90  308.4253333333333  -47.39527777777778     104
262  90  308.4253333333333  -47.39527777777778     104
      id         ra        dec cluster
22   147  150.15948  2.6927351      21
173  147  150.15948  2.6927351      21
     id          ra                dec cluster
65   30  140.303375  45.48455555555556      63
216  30  140.303375  45.48455555555556      63
     id                 ra                dec cluster
95   85  293.6289583333333  50.42322222222222      90
246  85  293.6289583333333  50.42322222222222      90
      id         ra       dec cluster
56   129  114.36855  32.27183      54
207  129  114.36855  32.27183      54
      id        ra         dec cluster
107  110  30.54375  -11.153244     100
258  110  30.54375  -11.153244     100
     id                 ra                  dec cluster
112  89  306.5434583333333  -45.607527777777776     105
263  89  306.5434583333333  -45.607527777777776     105
     id       ra                dec cluster
85   67  214.105  52.24194444444444      80
236  67  214.105  52.24194444444444      80
      id        ra       dec cluster
143  124  52.55052  -0.34775     133
294  124  52.55052  -0.34775     133
     id                 ra                  dec cluster
140  39  153.0654583333333  -3.1172222222222223     130
291  39  153.0654583333333  -3.1172222222222223     130
     id                 ra       dec cluster
88   63  210.6175833333333  63.35925      83
239  63  210.6175833333333  63.35925      83
      id         ra                  dec cluster
3    139  138.02212  0.48366000000000003       4
154  139  138.02212  0.48366000000000003       4
     id                  ra                  dec cluster
132  40  154.35054166666663  -20.783444444444445     122
283  40  154.35054166666663  -20.783444444444445     122
      id          ra          dec cluster
6    103  5.67049154  14.51956525       7
157  103  5.67049154  14.51956525       7
     id                  ra     dec cluster
29   49  172.98533333333333  4.9305      27
180  49  172.98533333333333  4.9305      27
     id                 ra                dec cluster
91   75  242.3081666666666  65.54138888888889      86
242  75  242.3081666666666  65.54138888888889      86
    id                  ra                 dec cluster
105  6  26.318749999999998  -9.754722222222222      98
256  6  26.318749999999998  -9.754722222222222      98
      id      ra       dec cluster
141  104  7.2824  -0.93071     131
292  104  7.2824  -0.93071     131
     id          ra                dec cluster
4    38  152.872875  1.723138888888889       5
155  38  152.872875  1.723138888888889       5
     id                  ra                 dec cluster
23   50  174.51541666666662  3.2494444444444444      22
174  50  174.51541666666662  3.2494444444444444      22
      id        ra                 dec cluster
2    123  43.18838  0.6662100000000001       3
153  123  43.18838  0.6662100000000001       3
      id         ra       dec cluster
35   142  146.73617  10.11467      33
186  142  146.73617  10.11467      33
     id                  ra                 dec cluster
48   72  237.30154166666662  30.787944444444445      46
199  72  237.30154166666662  30.787944444444445      46
     id                 ra                 dec cluster
60   17  98.80129166666666  51.950500000000005      58
211  17  98.80129166666666  51.950500000000005      58
     id                  ra                 dec cluster
87   64  211.60341666666665  61.444694444444444      82
238  64  211.60341666666665  61.444694444444444      82
      id                  ra                 dec cluster
0    106  11.012080000000001  1.2201799999999998       1
151  106  11.012080000000001  1.2201799999999998       1
     id                  ra                 dec cluster
68   42  156.14416666666665  47.153055555555554      65
219  42  156.14416666666665  47.153055555555554      65
     id                 ra                dec cluster
93   77  247.7195833333333  82.50333333333333      88
244  77  247.7195833333333  82.50333333333333      88
     id                  ra       dec cluster
136  48  172.96499999999997  -12.5325     126
287  48  172.96499999999997  -12.5325     126
     id                  ra      dec cluster
89   70  230.43679166666664  52.9135      84
240  70  230.43679166666664  52.9135      84
     id                  ra                 dec cluster
81   73  239.29970833333329  37.359972222222225      76
232  73  239.29970833333329  37.359972222222225      76
     id                  ra                 dec cluster
59   20  116.72095833333331  44.064249999999994      57
210  20  116.72095833333331  44.064249999999994      57
     id         ra      dec cluster
26   26  133.22325  5.25425      25
177  26  133.22325  5.25425      25
     id       ra                 dec cluster
137  94  328.031  -27.53061111111111     127
288  94  328.031  -27.53061111111111     127
     id       ra                dec cluster
30   44  158.392  7.190416666666667      28
181  44  158.392  7.190416666666667      28
     id                 ra                 dec cluster
108  16  78.54491666666665  -33.43958333333333     101
259  16  78.54491666666665  -33.43958333333333     101
      id                  ra                  dec cluster
100  107       12.4247466667  -27.874019721999996      95
101    0  12.424541666666665  -27.873805555555556      95
251  107       12.4247466667  -27.874019721999996      95
252    0  12.424541666666665  -27.873805555555556      95
      id                  ra        dec cluster
57   130  114.40166699999999  32.261194      55
208  130  114.40166699999999  32.261194      55
      id          ra         dec cluster
118  118  34.7589417  -8.4929924     110
269  118  34.7589417  -8.4929924     110
     id         ra                 dec cluster
24   58  203.09425  3.7944166666666663      23
175  58  203.09425  3.7944166666666663      23
    id                  ra                 dec cluster
8    2  21.184999999999995  3.8666666666666667       9
159  2  21.184999999999995  3.8666666666666667       9
     id         ra        dec cluster
17   21  117.92275  27.275375      17
168  21  117.92275  27.275375      17
      id                  ra       dec cluster
10   109  17.390539999999998  15.00903      11
161  109  17.390539999999998  15.00903      11
      id         ra                 dec cluster
124  121  36.442207  -7.627366499999999     114
275  121  36.442207  -7.627366499999999     114
     id                  ra                 dec cluster
46   43  157.30562499999996  26.392166666666665      44
197  43  157.30562499999996  26.392166666666665      44
      id                  ra                  dec cluster
116   12  53.159249999999986  -27.948027777777778     109
117  125   53.15920799999999  -27.948110999999997     109
267   12  53.159249999999986  -27.948027777777778     109
268  125   53.15920799999999  -27.948110999999997     109
     id                  ra                 dec cluster
18   23  123.38041666666665  25.750888888888888      18
169  23  123.38041666666665  25.750888888888888      18
     id                  ra                dec cluster
55   18  109.01491666666665  47.14722222222222      53
206  18  109.01491666666665  47.14722222222222      53
     id                 ra                 dec cluster
82   74  240.4185416666666  43.279944444444446      77
233  74  240.4185416666666  43.279944444444446      77
      id          ra                 dec cluster
64   132  128.963558  39.439353000000004      62
215  132  128.963558  39.439353000000004      62
      id          ra         dec cluster
129  117  34.4049225  -5.2248211     119
280  117  34.4049225  -5.2248211     119
      id           ra          dec cluster
106  111  26.73337065  -9.49791496      99
257  111  26.73337065  -9.49791496      99
      id                  ra                 dec cluster
102  108             12.6155           -17.66889      96
103    1  12.615958333333333  -17.66911111111111      96
253  108             12.6155           -17.66889      96
254    1  12.615958333333333  -17.66911111111111      96
     id                  ra                  dec cluster
134  57  193.27791666666664  -29.241666666666667     124
285  57  193.27791666666664  -29.241666666666667     124
     id                  ra                dec cluster
84   65  212.83166666666665  52.19138888888889      79
235  65  212.83166666666665  52.19138888888889      79
      id                 ra                 dec cluster
120  122        41.64207561         -8.42670704     112
121   10  41.64212499999999  -8.426722222222221     112
271  122        41.64207561         -8.42670704     112
272   10  41.64212499999999  -8.426722222222221     112
     id                 ra      dec cluster
96   86  294.6049583333333  66.8145      91
247  86  294.6049583333333  66.8145      91
     id                  ra                 dec cluster
50   88  304.82562499999995  11.452305555555554      48
201  88  304.82562499999995  11.452305555555554      48

      id         ra                 dec cluster
21   145  149.84068  2.1106700000000003      20
172  145  149.84068  2.1106700000000003      20
    id         ra                 dec cluster
104  5  23.648625  -9.517472222222223      97
255  5  23.648625  -9.517472222222223      97
     id                  ra                dec cluster
58   19  115.71333333333332  36.57880555555556      56
209  19  115.71333333333332  36.57880555555556      56
     id                  ra                dec cluster
70   53  181.62354166666665  43.53822222222222      67
221  53  181.62354166666665  43.53822222222222      67
     id                  ra                 dec cluster
83   80  252.68099999999993  42.862500000000004      78
234  80  252.68099999999993  42.862500000000004      78
     id                  ra                dec cluster
36   54  182.73816666666664  9.907111111111112      34
187  54  182.73816666666664  9.907111111111112      34
     id                  ra                 dec cluster
79   51  178.82229166666664  63.772777777777776      74
230  51  178.82229166666664  63.772777777777776      74
      id                 ra                dec cluster
66    37  151.1454583333333  41.21188888888889      64
67   149      151.143142867      41.2121094213      64
217   37  151.1454583333333  41.21188888888889      64
218  149      151.143142867      41.2121094213      64
     id                  ra                  dec cluster
138  83  278.41641666666663  -21.061027777777777     128
289  83  278.41641666666663  -21.061027777777777     128
    id                  ra                  dec cluster
97   7  29.672666666666665  -43.417833333333334      92
248  7  29.672666666666665  -43.417833333333334      92
     id                 ra                 dec cluster
51   92  317.7250833333333  21.516861111111112      49
202  92  317.7250833333333  21.516861111111112      49
     id                  ra                  dec cluster
148  78  248.24033333333333  -0.5558611111111111     137
299  78  248.24033333333333  -0.5558611111111111     137
      id                  ra       dec cluster
61   131  125.05358000000001  48.79363      59
212  131  125.05358000000001  48.79363      59
    id                  ra                dec cluster
11   4  22.805854166666663  43.97031666666667      12
162  4  22.805854166666663  43.97031666666667      12
     id                  ra                dec cluster
69   47  172.50054166666663  38.20086111111112      66
220  47  172.50054166666663  38.20086111111112      66
     id         ra                 dec cluster
14   15  72.091625  12.465391666666665      14
165  15  72.091625  12.465391666666665      14
     id                  ra                dec cluster
43   52  178.82624999999996  19.66172222222222      41
194  52  178.82624999999996  19.66172222222222      41
     id                  ra                 dec cluster
31   46  169.57083333333333  7.7660277777777775      29
182  46  169.57083333333333  7.7660277777777775      29
      id                  ra                  dec cluster
99   102  3.6094169999999997  -30.382194000000002      94
250  102  3.6094169999999997  -30.382194000000002      94
    id                  ra                 dec cluster
7    3  21.189999999999994  3.8516666666666666       8
158  3  21.189999999999994  3.8516666666666666       8
      id       ra                   dec cluster
142  100  2.01231  -0.06896000000000001     132
293  100  2.01231  -0.06896000000000001     132
      id         ra         dec cluster
125  112  32.372207  -6.7197942     115
276  112  32.372207  -6.7197942     115
      id          ra         dec cluster
146  134  133.693954  -1.3602999     135
297  134  133.693954  -1.3602999     135
     id                 ra                dec cluster
94   82  271.9445833333333  45.99888888888889      89
245  82  271.9445833333333  45.99888888888889      89
     id                  ra                 dec cluster
49   79  248.45412499999998  31.569972222222223      47
200  79  248.45412499999998  31.569972222222223      47
     id                  ra                 dec cluster
45   32  147.84404166666667  26.587249999999997      43
196  32  147.84404166666667  26.587249999999997      43
     id                  ra                 dec cluster
32   93  319.21145833333327  2.4296944444444444      30
183  93  319.21145833333327  2.4296944444444444      30
     id         ra                 dec cluster
37   36  151.10375  12.489527777777777      35
188  36  151.10375  12.489527777777777      35
     id                  ra                dec cluster
80   56  189.20416666666662  62.20611111111111      75
231  56  189.20416666666662  62.20611111111111      75
      id        ra       dec cluster
9    105  9.271704  9.163992      10
160  105  9.271704  9.163992      10
      id                  ra      dec cluster
25   146  149.93361000000002  4.17139      24
176  146  149.93361000000002  4.17139      24
     id                  ra                 dec cluster
16   22  121.59874999999998  20.108861111111114      16
167  22  121.59874999999998  20.108861111111114      16
    id                 ra                dec cluster
54   8  35.27284583333333  35.93716111111111      52
205  8  35.27284583333333  35.93716111111111      52
     id                  ra                  dec cluster
133  45  166.63937499999997  -18.356722222222224     123
284  45  166.63937499999997  -18.356722222222224     123
     id                  ra                  dec cluster
139  87  301.02945833333325  -13.825194444444444     129
290  87  301.02945833333325  -13.825194444444444     129
      id          ra                 dec cluster
42   137  137.796988  17.775539000000002      40
193  137  137.796988  17.775539000000002      40
     id                  ra                dec cluster
34   98  350.41999999999996  5.460111111111111      32
185  98  350.41999999999996  5.460111111111111      32
      id                  ra                 dec cluster
77    34  150.33658333333332   55.89705555555555      73
78   148  150.33700000000002  55.897059999999996      73
228   34  150.33658333333332   55.89705555555555      73
229  148  150.33700000000002  55.897059999999996      73

In [112]:
nac.loc[nac['cluster'] == 64]

Empty DataFrame
Columns: [id, ra, dec, cluster]
Index: []

## Lens objects

In [14]:
# Scraping Joao
# lens objects  -  227
castles2 = pd.read_csv('CastelLensData.csv')
castles2 = castles2.set_index('lens_names')

HE_c = castles2.loc[ 'HE0435-1223' , : ]
HE_c

                  ra  ra_err      dec  dec_err description
lens_names
HE0435-1223  4.63747   0.000 -12.2873    0.000   deflected
HE0435-1223  3.16147   0.003 -11.7343    0.003   deflected
HE0435-1223  2.17047   0.003 -12.8903    0.005   deflected
HE0435-1223  3.69847   0.003 -13.9013    0.003   deflected
HE0435-1223  3.47247   0.003 -12.8603    0.003      galaxy

In [15]:
# Object table
HE_ml = pd.read_csv('Scraping/results/redshift_28.csv')
HE_ml.drop('Unnamed: 1', axis=1, inplace=True)
HE_ml.rename(columns={"Unnamed: 0": "Description"})

  Description   Mag  No.      z
0        Lens   NaN    1  0.460
1      Source  18.3    1  1.689
2      Source  18.2    2  1.689
3      Source  18.2    3  1.689
4      Source  18.8    4  1.689