## Integração de dados

#### Masterlens, CASTLES,

In [5]:
import pandas as pd

In [41]:
def deg_to_arcsec(coord):
    return coord*3600

In [6]:
castles = pd.read_csv('CastelInfo.csv')
castles.head()

   lens_name number_of_images        ra       dec  z_source  z_lens
0  B0218+357              2ER   2.35152  35.93720     0.960   0.680
1  B0712+472                4   7.26766  47.14720     1.340   0.410
2  B1030+074                2  10.55950   7.19042     1.540   0.600
3  B1152+200                2  11.92170  19.66170     1.019   0.439
4  B1422+231               4E  14.41060  22.93350     3.620   0.340

In [10]:
castles2 = pd.read_csv('CastelLensData.csv')
castles2.head()

  lens_names       ra  ra_err      dec  dec_err description
0  B0218+357  2.35152     NaN  35.9372      NaN      source
1  B0218+357  2.65852   0.003  36.0632    0.003   deflected
2  B0218+357  2.52952   0.011  35.9832    0.024      galaxy
3  B0712+472  6.47266   0.003  46.9912    0.003   deflected
4  B0712+472  6.52066   0.003  46.8552    0.006   deflected

In [49]:
dfs = []
for i in range(1,51):
    masterlens = pd.read_csv('Scraping/results/coordinates_{}.csv'.format(i)) ##### salvar sem index?
    dfs.append(masterlens)
    final = pd.concat(dfs)

In [50]:
final = final.drop(['RA Hrs', 'RA Mins', 'RA Secs', 'Dec Degrees', 'Dec Arcmin', 'Dec Arcsec'], axis=1)
final.apply(deg_to_arcsec).head()

         RA [°]      Dec [°]
0   7244.316000    -248.2560
0  12945.301200 -109269.7992
0  12993.901200 -109375.8984
0  20413.769544   52270.4349
0  26216.640000   -3350.5560

In [51]:
pd.read_csv('Scraping/results/system_1.csv')

,Discovery,Lens Kind,Lens Grade,Einstein_R quality,z_Lens quality,z_Source quality,Description,Einstein_R,Einstein_R_err,z_lens,z_lens_err,z_source,z_source_err,Stellar_v_disp,Stellar_v_disp_err,Discovery Date,Name,N Images
0,SLACS,GAL-GAL,A,SIE model,spectroscopic,spectroscopic,Luminous red galaxy lensing three background o...,1.16,0.02,0.44,0.0001,1.192,0.001,232,39,2008-08-01,SDSS J0008-0004,3

In [ ]:
# junção parcial