In [178]:
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [179]:
#df_list = pd.read_html("/home/viviane/GravLens/Scraping/masterlens/masterlens_1.html")  # list with dfs from tables
filename = '/home/vivianemm/PycharmProjects/GravLens/Scraping/masterlens/masterlens_1.html'
df_list = pd.read_html(filename)

In [180]:
# important dfs: 5,6,7,11,12,13,14,16,17,18,19,20,21
for i in df_list:
    print(i.columns.values)

[0]
[0 1 2 3]
[0 1 2 3 4 5]
[0]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1 2]
[0 1]
[0 1]
[0 1]
[0 1 2 3]
[0 1]
[0 1 2 3]
[0 1 2 3 4 5 6 7]
[ 0  1  2  3  4  5  6  7  8  9 10]
[ 0  1  2  3  4  5  6  7  8  9 10]
[0 1 2 3 4 5]
[0 1 2 3 4 5 6 7 8]
[0 1]
[0 1]
[0 1 2 3 4 5 6 7 8]

### Defining functions

In [181]:
def pick_table(key):
    for df in df_list:
        list_labels = list(df.columns.values)
        if any(isinstance(i, tuple) for i in list_labels):  # if labels is nested list
            labels = [item for t in list_labels for item in t]  # flatten
        else:
            labels = list_labels

        list_values = df.values.tolist()
        if any(isinstance(i, list) for i in list_values):  # if values is nested list
            values = [item for t in list_values for item in t]  # flatten
        else:
            values = list_values
              
        if key in values or key in labels:
            #df_list.remove(df)
            return df

In [182]:
def drop_nans(df):
    df.dropna(axis=0, how='all', inplace=True)
    df.dropna(axis=1, how='all', inplace=True)
    return None

In [183]:
def split_col(df, old_new_list):  # old_new_list = [[oldname, newname], ...]
    for pair in old_new_list:
        if pair[0] in df.columns:
            df[[pair[1], pair[1] + '_err']] = df[pair[0]].str.split("±", n = 1, expand = True)
            df.drop(pair[0], axis=1, inplace=True)
        else:
            pass
    return None

In [184]:
def get_table_links(table):
    href_list = []
    
    if isinstance(table, list):
        for row in table:
            href = row.find('a')['href']
            href_list.append(href)
    else:
        href_tags = table.find_all("a")
        for tag in href_tags:
            href = tag.get('href')
            href_list.append(href)
    return href_list

In [185]:
def save(df, filename, i=False):
    if len(df) > 0:
        #df.to_csv("/home/viviane/GravLens/Scraping/results/" + filename, index = i)
        df.to_csv('/home/vivianemm/PycharmProjects/GravLens/Scraping/results' + filename, index = i)
        
    return None

### System table
### (5, 6, 7, 11, 12, 20)

In [186]:
def system():
    # joining 5,6,7,11
    frames =[pick_table('Discovery'), pick_table('Lens Kind'), pick_table('Lens Grade'), pick_table('Description')]
    result_df = pd.concat(frames)
    result_df.reset_index(drop=True, inplace=True)
    system_df = result_df.drop(columns=0).T
    system_df.columns = list(result_df[0])
    drop_nans(system_df)
    
    # Splitting value ± error columns
    split_col(system_df, [['Einstein_R ["]','Einstein_R'], ['z_Lens', 'z_lens'], ['z_Source(s)', 'z_source'],
                          ['Stellar velocity disp', 'Stellar_v_disp']])
    
    # adding other 2 tables
    date_df = pick_table('Discovery Date:')
    n_df = pick_table('Number of Source Plane Images')
    
    system_df['Discovery Date'] = date_df[3][0]
    system_df['Name'] = date_df[1][0]
    system_df['N Images'] = n_df[1][0]
    
    return system_df

In [187]:
system()

,Discovery,Lens Kind,Lens Grade,Einstein_R quality,z_Lens quality,z_Source quality,Description,Einstein_R,Einstein_R_err,z_lens,z_lens_err,z_source,z_source_err,Stellar_v_disp,Stellar_v_disp_err,Discovery Date,Name,N Images
1,SLACS,GAL-GAL,A,SIE model,spectroscopic,spectroscopic,Luminous red galaxy lensing three background o...,1.16,0.02,0.4400,0.0001,1.192,0.001,232,39,2008-08-01,SDSS J0008-0004,3

### Coordinates table (13)

In [188]:
def coordinates():
    coords_df = pick_table('Coordinates:') #.drop(2, axis=1)  # Manual coordinates
    coords_df = coords_df.set_index(0).T
    coords_df['Coordinates:'] = 'Manual'
    return coords_df

In [189]:
coordinates()

,Coordinates:,RA Hrs,RA Mins,RA Secs,RA [°],Dec Degrees,Dec Arcmin,Dec Arcsec,Dec [°]
1,Manual,00,08,2.96,2.01231,-00,04,8.26,-0.06896

### External links

In [190]:
def external():
    external_df = pick_table('External Links:')
    #external_df.columns = [''] * len(external_df.columns)
    external_df.columns = ['database', 'link']
    
    external_df = external_df.set_index('database')
    external_df.drop('link', axis=1, inplace=True)
    drop_nans(external_df)
    external_df = external_df.T
    #external_df.drop('External Links:.1', axis=1, inplace=True)
    
    soup = BeautifulSoup(open(filename), "html.parser")
    tb = soup.find_all('table')[9]
    links = get_table_links(tb)
    
    external_df['links'] = links
    
    return external_df

In [191]:
external()

database                                              links
0         http://skyserver.sdss3.org/dr9/en/tools/chart/...
1         http://adsabs.harvard.edu/cgi-bin/nph-abs_conn...
2         http://ned.ipac.caltech.edu/cgi-bin/objsearch?...

In [192]:
pick_table('External Links:')

          database             link
0  External Links:              NaN
1             SDSS  SDSS J0008-0004
2              ADS  SDSS J0008-0004
3              NED  SDSS J0008-0004
4             APOD              NaN

### Flux table (SDSS 16, HST 17)

In [198]:
def sdss():
    df = pick_table('Filter')
    if 'SDSS' in df.columns.values:
        sdss_df = df.set_index('Band')
        sdss_df = sdss_df.drop(columns=['Unnamed: 1'])
    else:
        sdss_df = pd.DataFrame()
    
    return sdss_df

In [221]:
def hst():
    hst_df = pick_table('HST').set_index(0)
    columns_hst = hst_df.iloc[0]
    #hst_df = hst_df.drop(columns=['Unnamed: 1'])
    hst_df.columns = list(columns_hst)
    hst_df = hst_df.iloc[1:]
    #hst_df = hst_df.set_index('Band')
    return hst_df

In [222]:
def flux():
    sdss_df = sdss()
    hst_df = hst()

    flux_df = pd.concat([sdss_df, hst_df])

    drop_nans(flux_df)
    split_col(flux_df, [['Lens Magnitude', 'lens_mag'], ['Flux [nmaggie]', 'Flux (nmaggie)'],
                    ['Reff [″]', "ref (arcsec)"], ['axis ratio (AB)', 'axis_ratio (AB)'],
                    ['PA [° E of N]','PA (deg)']])
    return flux_df

In [220]:
hst_df = pick_table('HST').set_index(0)
columns_hst = hst_df.iloc[0]

hst_df.columns = list(columns_hst)
hst_df = hst_df.iloc[1:]
hst_df

,nan,Filter,Band,Lens Magnitude,Flux [mJy],Reff [″],axis ratio (AB),PA [° E of N],Source Magnitude,Program Observations
0,,,,,,,,,,
ACS/WFC (WFC1),F814W,I,18.65 ± 0.03,NaN,1.71 ± 0.06,0.83 ± 0.01,27.3 ± 0.1,NaN,HST Program 10886 — PI: Bolton,NaN
WFPC2 (WF3),F606W,V,NaN,NaN,NaN,NaN,NaN,NaN,HST Program 10886 — PI: Bolton,NaN

In [223]:
flux()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  This is separate from the ipykernel package so we can avoid doing imports until

,nan,Filter,Band,Flux [mJy],Source Magnitude,ref (arcsec),ref (arcsec)_err,axis_ratio (AB),axis_ratio (AB)_err
0,,,,,,,,,
ACS/WFC (WFC1),F814W,I,18.65 ± 0.03,1.71 ± 0.06,HST Program 10886 — PI: Bolton,0.83,0.01,27.3,0.1
WFPC2 (WF3),F606W,V,NaN,NaN,HST Program 10886 — PI: Bolton,NaN,NaN,NaN,NaN

### Redshift table (18, 19)

In [224]:
def redshift():

    z_lens_df = pick_table('Lens Plane Images:')
    if z_lens_df is not None:
        z_lens_df = z_lens_df['Lens Plane Images:']
        #z_lens_df = z_lens_df.set_index('No.')
    else:
        z_lens_df = pd.DataFrame()

    z_source_df = pick_table('Source Plane Images:')
    if z_source_df is not None:
        z_source_df = z_source_df['Source Plane Images:']
        #z_source_df = z_source_df.set_index('No.')
    else:
        z_source_df = pd.DataFrame()

    z_df = pd.concat([z_lens_df, z_source_df], keys=['Lens', 'Source'])
    drop_nans(z_df)

    return z_df

In [230]:
z_lens_df = pick_table('Lens Plane Images:')
z_lens_df

                    0      1       2       3     4    5
0  Lens Plane Images:    NaN     NaN     NaN   NaN  NaN
1                 No.  Label       z   z_err  Flux  Mag
2                   1    NaN  0.4400  0.0001   NaN  NaN

In [225]:
redshift()

KeyError: 'Lens Plane Images:'

### Time delay table (21)

In [ ]:
def time():
    time_df = pick_table('Time Delays:')
    return time_df

In [ ]:
times = list(time()['Time Delays:']['Time Delay (days)'])

In [ ]:
if time() is not None and not np.isnan(time()['Time Delays:'].values).all():
    save(time_df, 'time_d.csv')

### References table (14)

In [ ]:
def refs():
    soup = BeautifulSoup(open("/home/viviane/GravLens/Scraping/masterlens/masterlens_41.html"), "html.parser")
    
    for table in soup.find_all('table'):
    # links = [np.where(tag.has_attr('href'),tag.get('href'),"no link") for tag in tb.find_all('a')]

        links = get_table_links(table)
        #print(links)
        
        if len(links) >= 2 and 'citation' in links[1]:
            papers = links[1::2]
    
    ref_df = pick_table('Discovery\xa0Paper')
    ref_df = ref_df.drop('Unnamed: 0', axis=1)
    
    ref_df['Links'] = papers
    ref_df.columns = ['Author', 'Title', 'Discovery', 'Links']
    return ref_df

In [ ]:
refs()

### Main code

In [ ]:
system_df = system()
coords_df = coordinates()
flux_df = flux()
z_df = redshift()
ref_df = refs()
external_df = external()

In [ ]:
save(system_df, 'system.csv')
save(coords_df, 'coordinates.csv')
save(flux_df, 'flux.csv', i=True)
save(z_df, 'redshift.csv', i=True)
save(ref_df, 'references.csv')
save(external_df, 'external.csv',i=True)

In [ ]:
pd.read_csv('results/external.csv')