In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [3]:
soup = BeautifulSoup(open("masterlens.html"), "html.parser")

In [8]:
tables = soup.find_all('table')  # bs4.element.ResultSet
len(tables)

26

In [14]:
# Checking headers
tables = list(tables)

for table in tables:
    headers = [header.text for header in table.find_all('th')]
    print(headers)

[]
[]
[]
[]
['Number of Discovery Programs']
['Discovery']
['Lens Kind']
['Lens Grade', 'Einstein_R ["]', 'Einstein_R quality', 'z_Lens', 'z_Lens quality', 'z_Source(s)', 'z_Source quality', 'Stellar velocity disp']
['Status Report:', '']
['External Links:', 'SDSS', 'ADS', 'NED', 'APOD']
['Added:', 'Modified:', 'Vetted:', '', 'Released:', '']
['Description']
['System Name', 'Discovery Date:', 'Alternate Name(s)']
['Coordinates:', 'RA Hrs', 'RA Mins', 'RA Secs', 'RA [°]', 'Dec Degrees', 'Dec Arcmin', 'Dec Arcsec', 'Dec [°]']
['63\xa0Lenses', '90\xa0Lenses', '49\xa0Lenses', '61\xa0Lenses', '76\xa0Lenses', '81\xa0Lenses']
['Graphic:\xa0Pretty Pic', 'Graphic:\xa0HLA-Derived Fitscut', 'Graphic:\xa0Time-Delay Plot', '', '', '', '', '', '', '©', '©', '']
['SDSS', '', 'Filter', 'Band', 'Lens Magnitude', 'Flux [nmaggie]', 'Reff [″]', 'axis ratio (AB)', 'PA [° E of N]', 'Source Magnitude', 'Program Observations', 'SDSS (DR8)', 'Sloan u ', 'u', 'Sloan g  ', 'g', 'Sloan r', 'r', 'Sloan i', 'i', 'Sloan z', 'z']
['HST', '', 'Filter', 'Band', 'Lens Magnitude', 'Flux [mJy]', 'Reff [″]', 'axis ratio (AB)', 'PA [° E of N]', 'Source Magnitude', 'Program Observations', 'ACS/WFC (WFC1)', 'F814W', 'I', 'WFPC2 (WF3)', 'F606W ', 'V']
[]
[]
[]
['Lens Plane Images:', 'No.', 'Label', 'z', 'z_err', 'Flux', 'Mag']
['Source Plane Images:', 'No.', 'Label', 'z', 'z_err', 'r', 'θ', 'Flux', 'Mag', 'μ']
['Number of Source Plane Images']
['Time Delays:', 'Image -- Image', 'Time Delay (days)']
[]

In [132]:
# Using pandas

df_list = pd.read_html("masterlens.html")  # list with dfs from tables

In [133]:
for df in df_list:
    print(df.columns.values)

[0]
[0 1 2 3]
[0 1 2 3 4 5]
[0]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1 2 3]
['External Links:' 'External Links:.1']
['Added:' 'Added:.1']
[0 1]
[0 1 2 3]
[0 1 2]
['Unnamed: 0' 'Unnamed: 1' 'Unnamed: 2' 'Unnamed: 3']
[0 1 2 3 4 5 6 7]
['SDSS' 'Unnamed: 1' 'Filter' 'Band' 'Lens Magnitude' 'Flux [nmaggie]'
 'Reff [″]' 'axis ratio (AB)' 'PA [° E of N]' 'Source Magnitude'
 'Program Observations']
['HST' 'Unnamed: 1' 'Filter' 'Band' 'Lens Magnitude' 'Flux [mJy]'
 'Reff [″]' 'axis ratio (AB)' 'PA [° E of N]' 'Source Magnitude'
 'Program Observations']
[('Lens Plane Images:', 'No.') ('Lens Plane Images:', 'Label')
 ('Lens Plane Images:', 'z') ('Lens Plane Images:', 'z_err')
 ('Lens Plane Images:', 'Flux') ('Lens Plane Images:', 'Mag')]
[('Source Plane Images:', 'No.') ('Source Plane Images:', 'Label')
 ('Source Plane Images:', 'z') ('Source Plane Images:', 'z_err')
 ('Source Plane Images:', 'r') ('Source Plane Images:', 'θ')
 ('Source Plane Images:', 'Flux') ('Source Plane Images:', 'Mag')
 ('Source Plane Images:', 'μ')]
[0 1]
[('Time Delays:', 'Image -- Image') ('Time Delays:', 'Time Delay (days)')]
[0 1 2 3 4 5 6 7 8]

In [134]:
# important dfs: 5,6,7,11,12,13,14,16,17,18,19,20,21,

In [182]:
# joining 5,6,7,11
frames =[df_list[5], df_list[6], df_list[7], df_list[11]]
result_df = pd.concat(frames)
result_df.reset_index(drop=True, inplace=True)

final_df = result_df.drop(columns=0).T
final_df.columns = list(result_df[0])
final_df

,Discovery,Lens Kind,Lens Grade,"Einstein_R [""]",Einstein_R quality,z_Lens,z_Lens quality,z_Source(s),z_Source quality,Stellar velocity disp,Description
1,SLACS,GAL-GAL,A,1.16 ± 0.02,SIE model,0.4400 ± 0.0001,spectroscopic,1.192 ± 0.001,spectroscopic,232 ± 39,Luminous red galaxy lensing three background o...

In [194]:
df_list[12]

                   0                1                2           3
0        System Name  SDSS J0008-0004  Discovery Date:  2008-08-01
1  Alternate Name(s)              NaN              NaN         NaN

In [208]:
# adding 12 and 20 to final
final_df['Discovery Date'] = df_list[12][0][0]
final_df['Name'] = df_list[12][1][0]
final_df['N Images'] = df_list[20][1][0]
final_df

,Discovery,Lens Kind,Lens Grade,"Einstein_R [""]",Einstein_R quality,z_Lens,z_Lens quality,z_Source(s),z_Source quality,Stellar velocity disp,Description,Discovery Date,Name,N Images
1,SLACS,GAL-GAL,A,1.16 ± 0.02,SIE model,0.4400 ± 0.0001,spectroscopic,1.192 ± 0.001,spectroscopic,232 ± 39,Luminous red galaxy lensing three background o...,System Name,SDSS J0008-0004,3

In [238]:
# coordinates

coords_df = df_list[13].drop(0, axis=0)  # Manual coordinates
column_names = list(coords_df[0])
coords_df = coords_df.T.drop([0,2], axis=0)
coords_df.columns = column_names

coords_df

  RA Hrs RA Mins RA Secs   RA [°] Dec Degrees Dec Arcmin Dec Arcsec   Dec [°]
1     00      08    2.96  2.01231         -00         04       8.26  -0.06896

In [112]:
# references
df_list[14]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,63 Lenses,Cardone et al. 2011 [MNRAS416(2011)1822],Secondary infall model and dark matter scaling...,NaN
1,90 Lenses,Auger et al. 2009 [ApJ705(2009)1099],"The Sloan Lens ACS Survey. IX. Colors, Lensing...",NaN
2,49 Lenses,Newton et al. 2009 [ApJ696(2009)1125],Enhanced Lensing Rate by Clustering of Massive...,NaN
3,61 Lenses,Grillo et al. 2009 [A&A501(2009)461],Photometric mass and mass decomposition in ear...,NaN
4,76 Lenses,Treu et al. 2009 [ApJ690(2009)670],The SLACS Survey. VIII. The Relation between E...,NaN
5,81 Lenses,Bolton et al. 2008 [ApJ682(2008)964],The Sloan Lens ACS Survey. V. The Full ACS Str...,Discovery Paper

In [113]:
df_list[16]

,SDSS,Unnamed: 1,Filter,Band,Lens Magnitude,Flux [nmaggie],Reff [″],axis ratio (AB),PA [° E of N],Source Magnitude,Program Observations
0,SDSS (DR8),SDSS (DR8),Sloan u,u,22.37 ± 0.53,1.11 ± 0.56,5.29 ± 4.33,0.05 ± 0.00,40.44 ± 0.01,NaN,Has Sloan ugriz photometrySDSS Spectrum: 669-5...
1,SDSS (DR8),SDSS (DR8),Sloan g,g,20.90 ± 0.06,4.35 ± 0.25,1.52 ± 0.30,0.81 ± 0.23,171.15 ± 0.01,NaN,Has Sloan ugriz photometrySDSS Spectrum: 669-5...
2,SDSS (DR8),SDSS (DR8),Sloan r,r,19.58 ± 0.03,14.78 ± 0.44,1.00 ± 0.10,0.88 ± 0.12,17.35 ± 0.01,NaN,Has Sloan ugriz photometrySDSS Spectrum: 669-5...
3,SDSS (DR8),SDSS (DR8),Sloan i,i,18.75 ± 0.02,31.72 ± 0.65,0.99 ± 0.06,0.91 ± 0.08,51.95 ± 0.01,NaN,Has Sloan ugriz photometrySDSS Spectrum: 669-5...
4,SDSS (DR8),SDSS (DR8),Sloan z,z,18.41 ± 0.06,43.30 ± 2.51,1.15 ± 0.18,0.65 ± 0.18,70.26 ± 0.01,NaN,Has Sloan ugriz photometrySDSS Spectrum: 669-5...

In [195]:
df_list[17]

,HST,Unnamed: 1,Filter,Band,Lens Magnitude,Flux [mJy],Reff [″],axis ratio (AB),PA [° E of N],Source Magnitude,Program Observations
0,ACS/WFC (WFC1),ACS/WFC (WFC1),F814W,I,18.65 ± 0.03,NaN,1.71 ± 0.06,0.83 ± 0.01,27.3 ± 0.1,NaN,HST Program 10886 — PI: Bolton
1,WFPC2 (WF3),WFPC2 (WF3),F606W,V,NaN,NaN,NaN,NaN,NaN,NaN,HST Program 10886 — PI: Bolton

In [196]:
df_list[18]

  Lens Plane Images:
                 No. Label     z   z_err Flux Mag
0                  1   NaN  0.44  0.0001  NaN NaN

In [197]:
df_list[19]

  Source Plane Images:
                   No. Label      z  z_err   r   θ Flux Mag   μ
0                    1   NaN  1.192  0.001 NaN NaN  NaN NaN NaN
1                    2   NaN  1.192  0.001 NaN NaN  NaN NaN NaN
2                    3   NaN  1.192  0.001 NaN NaN  NaN NaN NaN

In [209]:
# Time delays

df_list[21]

    Time Delays:
  Image -- Image Time Delay (days)
0     (1) -- (2)               NaN
1     (1) -- (3)               NaN
2     (2) -- (3)               NaN