In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
soup = BeautifulSoup(open("masterlens.html"), "html.parser")

In [3]:
tables = soup.find_all('table')  # bs4.element.ResultSet
len(tables)

26

In [4]:
# Checking headers
tables = list(tables)

for table in tables:
    headers = [header.text for header in table.find_all('th')]
    print(headers)

[]
[]
[]
[]
['Number of Discovery Programs']
['Discovery']
['Lens Kind']
['Lens Grade', 'Einstein_R ["]', 'Einstein_R quality', 'z_Lens', 'z_Lens quality', 'z_Source(s)', 'z_Source quality', 'Stellar velocity disp']
['Status Report:', '']
['External Links:', 'SDSS', 'ADS', 'NED', 'APOD']
['Added:', 'Modified:', 'Vetted:', '', 'Released:', '']
['Description']
['System Name', 'Discovery Date:', 'Alternate Name(s)']
['Coordinates:', 'RA Hrs', 'RA Mins', 'RA Secs', 'RA [°]', 'Dec Degrees', 'Dec Arcmin', 'Dec Arcsec', 'Dec [°]']
['63\xa0Lenses', '90\xa0Lenses', '49\xa0Lenses', '61\xa0Lenses', '76\xa0Lenses', '81\xa0Lenses']
['Graphic:\xa0Pretty Pic', 'Graphic:\xa0HLA-Derived Fitscut', 'Graphic:\xa0Time-Delay Plot', '', '', '', '', '', '', '©', '©', '']
['SDSS', '', 'Filter', 'Band', 'Lens Magnitude', 'Flux [nmaggie]', 'Reff [″]', 'axis ratio (AB)', 'PA [° E of N]', 'Source Magnitude', 'Program Observations', 'SDSS (DR8)', 'Sloan u ', 'u', 'Sloan g  ', 'g', 'Sloan r', 'r', 'Sloan i', 'i', 'Sloan z', 'z']
['HST', '', 'Filter', 'Band', 'Lens Magnitude', 'Flux [mJy]', 'Reff [″]', 'axis ratio (AB)', 'PA [° E of N]', 'Source Magnitude', 'Program Observations', 'ACS/WFC (WFC1)', 'F814W', 'I', 'WFPC2 (WF3)', 'F606W ', 'V']
[]
[]
[]
['Lens Plane Images:', 'No.', 'Label', 'z', 'z_err', 'Flux', 'Mag']
['Source Plane Images:', 'No.', 'Label', 'z', 'z_err', 'r', 'θ', 'Flux', 'Mag', 'μ']
['Number of Source Plane Images']
['Time Delays:', 'Image -- Image', 'Time Delay (days)']
[]

In [36]:
# Using pandas

df_list = pd.read_html("masterlens.html")  # list with dfs from tables

In [33]:
for df in df_list:
    print(df.columns.values)

[0]
[0 1 2 3]
[0 1 2 3 4 5]
[0]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1 2]
[0 1]
[0 1]
[0 1]
[0 1 2 3]
[0 1]
[0 1 2 3]
[0 1 2 3 4 5 6 7]
[ 1  2  3  4  5  6  7  8  9 10]
[ 0  1  2  3  4  5  6  7  8  9 10]
[0 1 2 3 4 5]
[0 1 2 3 4 5 6 7 8]
[0 1]
[0 1]
[0 1 2 3 4 5 6 7 8]

In [7]:
# important dfs: 5,6,7,11,12,13,14,16,17,18,19,20,21,

In [8]:
# joining 5,6,7,11
frames =[df_list[5], df_list[6], df_list[7], df_list[11]]
result_df = pd.concat(frames)
result_df.reset_index(drop=True, inplace=True)

final_df = result_df.drop(columns=0).T
final_df.columns = list(result_df[0])
final_df

,Discovery,Lens Kind,Lens Grade,"Einstein_R [""]",Einstein_R quality,z_Lens,z_Lens quality,z_Source(s),z_Source quality,Stellar velocity disp,Description
1,SLACS,GAL-GAL,A,1.16 ± 0.02,SIE model,0.4400 ± 0.0001,spectroscopic,1.192 ± 0.001,spectroscopic,232 ± 39,Luminous red galaxy lensing three background o...

In [9]:
df_list[12]

                   0                1                2           3
0        System Name  SDSS J0008-0004  Discovery Date:  2008-08-01
1  Alternate Name(s)              NaN              NaN         NaN

In [10]:
# adding 12 and 20 to final
final_df['Discovery Date'] = df_list[12][0][0]
final_df['Name'] = df_list[12][1][0]
final_df['N Images'] = df_list[20][1][0]
final_df

,Discovery,Lens Kind,Lens Grade,"Einstein_R [""]",Einstein_R quality,z_Lens,z_Lens quality,z_Source(s),z_Source quality,Stellar velocity disp,Description,Discovery Date,Name,N Images
1,SLACS,GAL-GAL,A,1.16 ± 0.02,SIE model,0.4400 ± 0.0001,spectroscopic,1.192 ± 0.001,spectroscopic,232 ± 39,Luminous red galaxy lensing three background o...,System Name,SDSS J0008-0004,3

In [21]:
df_list[13]

              0                1
0  Coordinates:  DiscoveryManual
1        RA Hrs               00
2       RA Mins               08
3       RA Secs             2.96
4        RA [°]          2.01231
5   Dec Degrees              -00
6    Dec Arcmin               04
7    Dec Arcsec             8.26
8       Dec [°]         -0.06896

In [24]:
# coordinates

#coords_df = df_list[13].drop(0, axis=0)  # Manual coordinates
coords_df = df_list[13]
column_names = list(coords_df[0])
#coords_df = coords_df.T.drop([0,2], axis=0)

coords_df = coords_df.T.drop()
coords_df.columns = column_names

coords_df

,Coordinates:,RA Hrs,RA Mins,RA Secs,RA [°],Dec Degrees,Dec Arcmin,Dec Arcsec,Dec [°]
0,Coordinates:,RA Hrs,RA Mins,RA Secs,RA [°],Dec Degrees,Dec Arcmin,Dec Arcsec,Dec [°]
1,DiscoveryManual,00,08,2.96,2.01231,-00,04,8.26,-0.06896

In [12]:
# references
df_list[14]

,0,1,2,3
0,NaN,NaN,NaN,NaN
1,63 Lenses,Cardone et al. 2011 [MNRAS416(2011)1822],Secondary infall model and dark matter scaling...,NaN
2,90 Lenses,Auger et al. 2009 [ApJ705(2009)1099],"The Sloan Lens ACS Survey. IX. Colors, Lensing...",NaN
3,49 Lenses,Newton et al. 2009 [ApJ696(2009)1125],Enhanced Lensing Rate by Clustering of Massive...,NaN
4,61 Lenses,Grillo et al. 2009 [A&A501(2009)461],Photometric mass and mass decomposition in ear...,NaN
5,76 Lenses,Treu et al. 2009 [ApJ690(2009)670],The SLACS Survey. VIII. The Relation between E...,NaN
6,81 Lenses,Bolton et al. 2008 [ApJ682(2008)964],The Sloan Lens ACS Survey. V. The Full ACS Str...,Discovery Paper

In [43]:
df16 = df_list[16].set_index(0)
df16 = df16.T.set_index('SDSS')
df16

,SDSS (DR8),Sloan g,Sloan r,Sloan i,Sloan z
SDSS,,,,,
NaN,Sloan u,g,r,i,z
Filter,u,20.90 ± 0.06,19.58 ± 0.03,18.75 ± 0.02,18.41 ± 0.06
Band,22.37 ± 0.53,4.35 ± 0.25,14.78 ± 0.44,31.72 ± 0.65,43.30 ± 2.51
Lens Magnitude,1.11 ± 0.56,1.52 ± 0.30,1.00 ± 0.10,0.99 ± 0.06,1.15 ± 0.18
Flux [nmaggie],5.29 ± 4.33,0.81 ± 0.23,0.88 ± 0.12,0.91 ± 0.08,0.65 ± 0.18
Reff [″],0.05 ± 0.00,171.15 ± 0.01,17.35 ± 0.01,51.95 ± 0.01,70.26 ± 0.01
axis ratio (AB),40.44 ± 0.01,NaN,NaN,NaN,NaN
PA [° E of N],NaN,NaN,NaN,NaN,NaN
Source Magnitude,Has Sloan ugriz photometrySDSS Spectrum: 669-5...,NaN,NaN,NaN,NaN
Program Observations,NaN,NaN,NaN,NaN,NaN

In [14]:
df_list[17]

,0,1,2,3,4,5,6,7,8,9,10
0,HST,NaN,Filter,Band,Lens Magnitude,Flux [mJy],Reff [″],axis ratio (AB),PA [° E of N],Source Magnitude,Program Observations
1,ACS/WFC (WFC1),F814W,I,18.65 ± 0.03,NaN,1.71 ± 0.06,0.83 ± 0.01,27.3 ± 0.1,NaN,HST Program 10886 — PI: Bolton,NaN
2,WFPC2 (WF3),F606W,V,NaN,NaN,NaN,NaN,NaN,NaN,HST Program 10886 — PI: Bolton,NaN

In [15]:
df_list[18]

                    0      1       2       3     4    5
0  Lens Plane Images:    NaN     NaN     NaN   NaN  NaN
1                 No.  Label       z   z_err  Flux  Mag
2                   1    NaN  0.4400  0.0001   NaN  NaN

In [16]:
df_list[19]

                      0      1      2      3    4    5     6    7    8
0  Source Plane Images:    NaN    NaN    NaN  NaN  NaN   NaN  NaN  NaN
1                   No.  Label      z  z_err    r    θ  Flux  Mag    μ
2                     1    NaN  1.192  0.001  NaN  NaN   NaN  NaN  NaN
3                     2    NaN  1.192  0.001  NaN  NaN   NaN  NaN  NaN
4                     3    NaN  1.192  0.001  NaN  NaN   NaN  NaN  NaN

In [17]:
# Time delays

df_list[21]

                0                  1
0    Time Delays:                NaN
1  Image -- Image  Time Delay (days)
2      (1) -- (2)                NaN
3      (1) -- (3)                NaN
4      (2) -- (3)                NaN